@charset "utf-8";

/*
@Author : Nicolas Bocquet
@Version : 1.0
@Date : 21 11 2012
*/


/* ---------------------- */
/* &  SUMMARY             */
/* ---------------------- */

/*
	1 - Fonts declaration
	2 - Global styles
	3 - Structure
	4 - Reusable elements
	5 - Elements Spécifiques
	6 - Media queries
*/



/* ------------------------------ */
/* &  1 -  FONTS DECLARATION      */
/* ------------------------------ */

@font-face {
    font-family: 'bebas';
    src: url('../fonts/bebasneue.eot#') format('eot'),
        url('../fonts/bebasneue.woff') format('woff'),
        url('../fonts/bebasneue.ttf') format('truetype'),
        url('../fonts/bebasneue.svg#bebasneue') format('svg');
    font-weight: normal;
    font-style: normal;
}



/* ------------------------------ */
/* &  2 - GLOBAL STYLES (reset) */
/* ------------------------------ */
	
	html, body, form {margin:0; padding:0;}	
	html {font-size:62.5%;}
	body {font:130%/normal Arial, "Helvetica Neue", Helvetica, sans-serif; background:#F0F0F0; color:#333;}
	
	/* HTML5 elements */
	header, footer, section, aside, nav, article, figure, figcaption {display:block;}
	mark {display:inline;}

	p {margin:1em 0;}
	dt {font-weight:bold;}
	img {vertical-align:bottom; max-width:100%; width:auto; height:auto;}
	figure {margin:0;}
	section {margin-bottom:3em;}
	nav ul {list-style:none; margin:0; padding:0;}
	code, pre, samp {white-space: pre-wrap; font-family: consolas, 'DejaVu Sans Mono', courier, monospace;}
	pre {padding:6px 14px;}
		
	h1 {font-weight:bold; font-size:58px; font-size:5.6rem; font-family:'bebas', 'Trebuchet MS';}
	h2 {margin:1.8em 0 0.8em; font-weight:normal; font-size:34px; font-size:3.2rem; font-family:'bebas', 'Trebuchet MS';}
	h3  {margin:1.5em 0 0.6em; font-weight:normal; font-size:22px; font-size:2.2rem; font-family:'bebas', 'Trebuchet MS'; border-bottom:1px solid #ccc;}
	h4 {font-weight:bold; font-size:16px; font-size:1.6rem;}
	h1 span, h2 span, h3 span, h4 span, h5 span, h6 span {color:#777777;}
	
	 /* Forms */
	fieldset {border:none; margin:0 0 1em 0; padding:0;}
	label {display:inline-block; vertical-align:middle; margin:3px 10px 3px 0; font-size:15px; font-size:1.5rem;}
	input, textarea, select, button {box-sizing:border-box; padding:9px; border:1px solid #888; vertical-align:middle;}
	input, textarea, select {font:normal 1.1em/100% Arial, Helvetica, sans-serif; color:#333333;}
	input[type="text"]:hover, input:hover, textarea:hover {box-shadow:0 0 5px rgba(0,0,0,0.2);}
	input:focus, textarea:focus, select:focus {border-color:#333; box-shadow:none;}
	
	form input[type=checkbox], form input[type=radio] {width:auto; vertical-align:middle;}
	input[disabled] {border-color:#ccc; cursor:not-allowed; box-shadow:none;}
	input::-webkit-input-placeholder {color: #999;}
	input:-moz-placeholder {color: #999;}
	
	select {padding:6px 5px; font-size:14px; font-size:1.4rem; line-height:26px; height:3.4rem;}
	option {padding:3px 7px;}

	/* Table */
	table {border-collapse:collapse; border-spacing:0; max-width:100%;}

	/* Fix firefox */
	button::-moz-focus-inner, input[type="button"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner, input[type="reset"]::-moz-focus-inner {padding:0 !important; border:0 none !important;}

	/* Links */
	a {color:#2192bf; text-decoration:none;}
	a:hover, a:focus {text-decoration:underline;}
	a img {border:none;}	

	/* HELPERS */
	.visuallyHidden {position: absolute; clip: rect(1px 1px 1px 1px); clip: rect(1px, 1px, 1px, 1px);}
	.wrapper {position:relative; margin-bottom:5em;}
	.wrapper:after {content:""; clear:both; display:block;}



/* -------------------- */
/* &  3 - STRUCTURE     */
/* -------------------- */
	
	.topNav > .inside, .breadcrumbs > .inside, .banner > .inside, 
	.navigation > .inside, .content > .inside, .contentinfo > .inside {display:table; width:100%; table-layout:fixed; position:relative; margin:0 auto; min-width:769px; max-width:1040px;}
	.topNav, .breadcrumbs, .banner, .navigation, .content, .contentinfo {padding:0 16px;}
	
	.skipLinks a {position:absolute; z-index:999; left:-9999px; top:-9999px; white-space:nowrap;}
	.skipLinks a:focus, .skipLinks a:active {position:absolute; top:10px; left:10px; border:2px solid #F0F0F0; background:#333; color:white; padding:14px 22px; font-size:20px; font-size:2rem;}
	
	.topNav {background:#333; color:#AAAAAA; min-height:42px;}
	.topNav ul, .topNav li, .topNav .item {display:inline-block; vertical-align:middle;}
	.topNav .item {padding:14px 16px; color:#AAAAAA;}
	.topNav .item:hover, .topNav .item:focus {text-decoration:none; color:white;}
	.topNav .logo {font-size:1.3em; padding:5px 0; margin-right:35px;}
	
	.breadcrumbs {padding-top:1.5em; padding-bottom:1.5em; background:white;}
	
	.banner {padding-top:3em; padding-bottom:3em;}
	.identity {background:url(../assets/logo.png) no-repeat left 10px; padding-left:98px; padding-right:375px;}
	.identity > .logo, .identity .baseline {margin:0;}
	.identity > .baseline {color:#555; font-size:34px; font-size:3.2rem; font-family:'bebas', 'Trebuchet MS';}
	
	.search {position:absolute; right:0; top:30%; display:inline-block; background:#ddd; padding:4px; border-radius:6px;}
	.search .inputSearch {border:none; width:250px; padding:11px 8px 8px; border:1px solid #ccc; border-radius:3px;}
	.search .btn {}
	.search .btnInside {padding:9px 18px;}
	
	.navigation {border-bottom:1px solid #DDDDDD;}
	.navigation .inside {max-width:1076px;}
	.navigation ul:after {display:block; content:""; clear:both;}
	.navigation li {float:left; padding:12px 0;}
	.navigation .item {display:block; padding:0 18px; border-left:1px solid #ccc; text-transform:uppercase; font-size:12px; font-size:1.2rem; font-weight:bold; color:#333;}
	.navigation li:first-child .item {border:none;}
	.navigation .item:hover, .navigation .item:active {text-decoration:none; color:#2192BF;}
	
	.content {background:white;}
	.content:after {display:block; content:""; clear:both;}
	
	.main, .complementary {display:table-cell; width:100%; position:relative;}
	.complementary {width:50%; padding-left:8%;}
	.complementary .inside {}
		
	.contentinfo {border-top:1px solid #DDDDDD; padding-top:1em; padding-bottom:1em;}


/* --------------------------- */
/* &  3 - REUSABLE ELEMENTS    */
/* --------------------------- */

	/* Blocs types */
	.bloc {margin-bottom:2em; position:relative;}
	.bloc:after {display:block; content:""; clear:both;}
	.bloc .header {margin:0 12px; padding:9px 0 4px;}
	.bloc .header .heading {margin:0; padding:0;}
	.bloc .body {margin:0 12px; padding:8px 0;}
	.bloc .footer {padding:5px 12px;}
	
	.blocType01 {border:1px solid #ccc;}
	.blocType01 .header {color:#444444; border-bottom:2px solid #ccc; font-size:14px; font-size:1.4rem;}
	.blocType01 .header .heading {}
	.blocType01 .body {}
	.blocType01 .footer {background:#E5E5E5;}
				
	.blocType02 {margin:0 2px 2em; background:#F4F3F3; box-shadow:0 0 2px rgba(0, 0, 0, 0.4), 0 0 1px white inset;}
	.blocType02 .header {border-bottom:1px solid #ccc;}
	.blocType02 .header .heading {font-family:'bebas', 'Trebuchet MS'; font-size:22px; font-size:2.2rem; font-weight:normal;}
	.blocType02 .body {}
	.blocType02 .footer {background:#ECECEB; font-weight:bold; text-align:center;}
				
	.mea {margin-bottom:3em; padding-bottom:1em;}
	.mea:after {display:block; content:""; clear:both;}
	.meaLeft .meaFigure {float:left; margin-right:20px;}
	.meaRight .meaFigure {float:right; margin-left:20px;}
	.mea .figCaption {margin-top:1em;}
	.meaContent {overflow:hidden;}
	.meaContent .heading {margin:0;}
	.meaContent p {margin:0 0 1em 0;}

	/* Grid */
	.grid {list-style:none; margin:0 -10px 3em; padding:0;}
	.grid:after {content:""; clear:both; display:block;}
	.grid .unit {float:left; margin:5px 0 5px 10px;}
	
	/* Messages */
	.info {padding:8px 36px 10px 15px; margin-bottom:2em; background:#D9EDF7; border:1px solid #BCE8F1; border-radius:4px; color:#3A87AD; font-size:14px; font-size:1.4rem;}
	.info .heading {margin:0 0.2em 0 0; padding:0; font-size:15px; font-size:1.5rem; display:inline; font-weight:bold;}
	.info.succes {background-color:#DFF0D8; border-color:#D6E9C6; color:#468847;}
	.info.error {background-color:#F2DEDE; border-color:#EED3D7; color:#B94A48;}

	/* Tables */
	.table {margin-bottom:3em; table-layout:fixed; width:100%;}
	.table th {padding:15px 12px; text-align:left;}
	.table th[scope=col] button, .table th[scope=col] a {background:none; border:none; font-weight:bold; cursor:pointer; padding:0; vertical-align:text-bottom; color:black;}
	.table th[scope=col] button:hover, .table th[scope=col] button:focus, .table th[scope=col] a:hover, .table th[scope=col] a:focus {text-decoration:underline;}
	.table td {padding: 10px 11px; border:1px solid #bbb; border-width:1px 0;}
	
	.tableType01 {}
	.tableType01 th {border-left:1px solid #666; background:#333; color:white; font-weight:bold; text-align:center;}
	.tableType01 th:first-child {border-color:#333;}
	.tableType01 th[scope=col] button, .tableType01 th[scope=col] a {color:#CACACA;}
	.tableType01 th[scope=col] button:hover, .tableType01 th[scope=col] button:focus, .tableType01 th[scope=col] a:hover, .tableType01 th[scope=col] a:focus {text-decoration:none; color:white;}
	.tableType01 td {border:1px solid #bbb; border-top-width:0;}
	.tableType01 tbody tr:nth-child(2n) td, .tableType01 tbody tr:nth-child(2n) th {background-color: #eee;}
	
	
	/* Forms Types */
	.form {margin-bottom:3em;}
	.form .field {margin-bottom:1.2em;}
	.form .footer {margin-bottom:3em;}
	.formInfo {position:absolute; z-index:1; margin:8px;}	
	.form .valid {border-color:#468847;}
	.form .valid ~ .formInfo {color:green;}
	.form .invalid {border-color:#B94A48;}
	.form .invalid ~ .formInfo {color:#B94A48;}
		
	.formType01 {}
	.formType01 input, .formType01 textarea, .formType01 select {width:240px;}
	.formType01 .label {width:100px; text-align:right}
	.formType01 footer {margin-left:114px;}
	.formType01 .labelTop {vertical-align:top;}
	
	.formType02 {}
	.formType02 .label {display:block;}
	.formType02 input, .formType02 textarea, .formType02 select {width:300px;}


	/* Buttons */
	.btn, .btnInside {display:inline-block; vertical-align:middle; padding:0; white-space:nowrap; color:white; font-size:14px; font-size:1.4rem; cursor:pointer;}
	.btn {background:#0088CC; border:1px solid #006291; border-radius:3px;}
	.btnInside {padding:10px 18px;}
	input ~ .btn > .btnInside {padding-top:8px; padding-bottom:8px;}
	.btn:hover, .btn:focus {text-decoration:none; background:#0073AA; border-color:#004F75;}
	.btn:focus {outline:1px dotted black;}
	.btn[disabled] {background-color:#ccc; border-color:#aaa; cursor:not-allowed;}
	.btn[disabled] .btnInside {cursor:not-allowed;}
	
	.btnType01 {background-color:#7FAE01; border-color:#648903;}
	.btnType01 .btnInside {}
	.btnType01:hover, .btnType01:focus {background-color:#6B9401; border-color:#547401;}
			
	.btnType02 {}
	.btnType02 .btnInside {}
	.btnType02:hover, .btnType02:focus {}

	.more {white-space:nowrap;}
	.moreType01 {font-weight:normal; color:#333; text-decoration:underline; cursor:pointer;}
	.moreType01:hover, .moreType01:focus {color:#F85900;}

	/* Pagination */	
	.pagination ul {list-style:none; margin:0; padding:0; display:inline-block;}
	.pagination li, .pagination .previous, .pagination .next {display:inline-block; vertical-align:middle; margin:2px 0;}
	.pagination a, .pagination .active, .pagination .disabled {display:block; padding:10px 0; width:41px; background:#ddd; color:#333; text-decoration:none; text-align:center; font-size:14px; font-size:1.4rem; text-align:center;}
	.pagination .previous, .pagination .next {width:auto; margin:10px 0; padding:10px 16px;}
	.pagination .active {background-color:#333; color:white;}
	.pagination .disabled {background:none;}
	.pagination a:hover, .pagination a:focus {background-color:#0088CC; color:white;}
	.pagination a:focus {outline:1px dotted black;}
	


/* ------------------------------ */
/* &  4 - ELEMENTS SPECIFIQUES    */
/* ------------------------------ */

	.exemple01 {width:60%;}
	.exemple02 .unit {background:#ddd; width:15%; height:40px;}


	
/* ----------------------- */
/* &  5 - MEDIA QUERIES    */
/* ----------------------- */

@media print {
	p, blockquote {orphans: 2; widows: 2;}
	blockquote, ul, ol {page-break-inside: avoid;}
	h1, h2, h3, caption {page-break-after: avoid;}
}

@media screen and (max-width: 830px) {
	.topNav > .inside, .breadcrumbs > .inside, .banner > .inside, .navigation > .inside, .content > .inside, .contentinfo > .inside {min-width:0; max-width:auto;}	
	.banner {padding-bottom:1em;}
	.identity {padding-right:0; padding-bottom:2em;}
	.search {position:relative; display:block;}
	.search .inputSearch {width:100%; height:44px;}
	.search .btn {position:absolute; top:4px; right:4px; height:44px; border-radius:0 3px 3px 0;}
}
@media screen and (max-width: 640px) {
	.complementary {display:none;}
	.banner {padding-top:2em;}
	.navigation {padding-bottom:16px;}
	.navigation li {float:none; padding:4px 0;}
	.navigation .item {padding:12px 14px; text-align:center; background:white; box-shadow:0 0 3px rgba(0,0,0,0.4); border-radius:4px;}
	.navigation .item:hover, .navigation .item:focus {text-decoration:none; color:#2192BF; box-shadow:0 0 3px #2192BF;}
}
@media screen and (max-width: 480px) {
	.mea .meaFigure {float:none; margin-bottom:1em; text-align:center;}
	.topNav .item {padding:14px 10px;}
	.topNav .logo {margin-right:12px; padding:5px 0;}
	.identity {background-image:url(../assets/logoResponsive.png); background-position:left 7px; padding-left:54px;}
	.identity > .logo {font-size:3.8rem;}
	.identity > .baseline {font-size:2.2rem;}
	.form input, .form textarea, .form select, .form > .footer .btn {width:100%;}
	.formType01 .label {display:block; width:auto; text-align:left;}
	.formType01 .footer {margin-left:0;}
	.formInfo {position:relative; display:block;}
}
@media screen and (max-width: 380px) {}

@media (orientation: landscape) and (max-device-width: 640px) {html, body {-webkit-text-size-adjust: 100%;}}